---
import type { Stability } from "@/lib/utils";
import { buttonVariants } from "./ui/button";
import { Card, CardContent, CardFooter, CardHeader } from "./ui/card";
import { Badge } from "./ui/badge";

interface Props {
  selector: "Unit" | "Lesson"
  itemNumber: number
  itemName: string
  ref: string
  stable?: Stability 
}

const {selector, itemNumber, itemName, ref, stable = "Stable"}: Props = Astro.props;
---

<Card>
    <CardHeader className="flex items-center">
      <h2 class="w-full text-center">{selector === "Unit" ? `Unit ${itemNumber}` : `Lesson ${itemNumber}`}: {itemName}</h2>
      {
        stable === "Stable" ? 
          (<Badge>{stable}</Badge>) : 
        stable === "Experimental" ?
          (<Badge variant="outline">{stable}</Badge>) : 
        stable === "RC" ? 
          (<Badge variant="secondary">{stable}</Badge>) : 
        stable === "Unstable" ?
          (<Badge variant="destructive">{stable}</Badge>) :
        null
      }
    </CardHeader>
    <CardContent>
      <p class="line-clamp-4">
        <slot />
      </p>
    </CardContent>
    <CardFooter className="flex justify-between">
      <a href={ref} class:list={[buttonVariants(), "w-full"]}>Enter</a>
    </CardFooter>
  </Card>